<h3 class="titleComponent" style="margin-left: 0;">Perfil público</h3>
<div class="clearfix gutter d-flex flex-shrink-0 flex-column-reverse flex-md-row">
    <div class="col-12 col-md-8">
        <p class="p-mini">profile works!</p>
    </div>

    <div class="col-12 col-md-4">
        <p class="p-mini">Foto de perfil</p>
        <div class="avatar-upload">

            <img class="avatar rounded-2 avatar-user" src="https://avatars1.githubusercontent.com/u/47992634?s=400&amp;u=ebfcbcfbb8dd193bc7bea3eff0225819988ce888&amp;v=4" width="200" height="200" alt="@PabloVelascoMolina">



        </div>
    </div>
</div>