<h3 class="titleComponent" style="margin-left: 0;">Sesiones</h3>
<p class="p-mini">Esta es una lista de dispositivos que han iniciado sesión en su cuenta. Elimina las sesiones que no reconoces.</p>

<div class="Box Box-row--gray">
    <div class="Box-row p-3 session-device">
        <span class="session-state-indicator recent"></span>

        <a href="#" class="btn btn-sm">Ver más</a>

        <span class="session-icon tooltipped tooltipped-s" aria-label="Chrome on Windows">
          <svg height="32" class="octicon octicon-device-desktop" viewBox="0 0 24 24" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8.954 17H2.75A1.75 1.75 0 011 15.25V3.75C1 2.784 1.784 2 2.75 2h18.5c.966 0 1.75.784 1.75 1.75v11.5A1.75 1.75 0 0121.25 17h-6.204c.171 1.375.805 2.652 1.769 3.757A.75.75 0 0116.25 22h-8.5a.75.75 0 01-.565-1.243c.964-1.105 1.598-2.382 1.769-3.757zM21.5 3.75v11.5a.25.25 0 01-.25.25H2.75a.25.25 0 01-.25-.25V3.75a.25.25 0 01.25-.25h18.5a.25.25 0 01.25.25zM13.537 17c.125 1.266.564 2.445 1.223 3.5H9.24c.659-1.055 1.097-2.234 1.223-3.5h3.074z"></path></svg>
        </span>
        <div class="session-details">
            <strong class="d-block">Granada <span>127.0.0.1</span></strong>

            <small class="text-gray d-block">
              Tu sesión actual
            </small>

            <small class="text-gray">
              Visto en ES
            </small>
        </div>
    </div>
    <div class="Box-row p-3 session-device">
        <span class="session-state-indicator others"></span>

        <a href="#" class="btn btn-sm">Ver más</a>

        <span class="session-icon tooltipped tooltipped-s" aria-label="Chrome on Windows">
          <svg height="32" class="octicon octicon-device-desktop" viewBox="0 0 24 24" version="1.1" width="32" aria-hidden="true"><path fill-rule="evenodd" d="M8.954 17H2.75A1.75 1.75 0 011 15.25V3.75C1 2.784 1.784 2 2.75 2h18.5c.966 0 1.75.784 1.75 1.75v11.5A1.75 1.75 0 0121.25 17h-6.204c.171 1.375.805 2.652 1.769 3.757A.75.75 0 0116.25 22h-8.5a.75.75 0 01-.565-1.243c.964-1.105 1.598-2.382 1.769-3.757zM21.5 3.75v11.5a.25.25 0 01-.25.25H2.75a.25.25 0 01-.25-.25V3.75a.25.25 0 01.25-.25h18.5a.25.25 0 01.25.25zM13.537 17c.125 1.266.564 2.445 1.223 3.5H9.24c.659-1.055 1.097-2.234 1.223-3.5h3.074z"></path></svg>
        </span>
        <div class="session-details">
            <strong class="d-block">Madrid <span>127.0.0.1</span></strong>

            <small class="text-gray d-block">
              Finalziada
            </small>

            <small class="text-gray">
              Visto en ES
            </small>
        </div>
    </div>

</div>