.grid-story {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 10px;
}

.content-story {
    background: #ffffff1f;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    width: 120px;
    height: 180px;
    transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.content-story::after {
    width: 120px;
    border: 1px solid rgba(0, 0, 0, 0);
    bottom: 0px;
    content: "";
    left: 22px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.content-story:hover {
    transform: scale(1.05, 1.05);
}

.content-story>img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.content-story-info {
    color: #fff;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #000 0, rgba(0, 0, 0, 0) 300px);
    height: 100%;
    width: 120px;
    border-radius: 5px;
}

.content-story-box {
    position: absolute;
    bottom: 11px;
    left: 12px;
}

span.content-story-box-name {
    font-size: 16px;
    font-family: Averange;
}

.content-story-box-name>img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 3px;
}