<div class="row">
    <h3 class="titleComponent">Personas que quizás te interesen</h3>
    <div class="col-md-12">
        <div class="text-center">
            <svg *ngIf="RandomPeopleLoading" class="spinner" viewBox="0 0 50 50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid-story">

                <div class="story" *ngFor="let user of RandomPeople">


                    <div class="mx-auto content-story" [routerLink]="['/profile', user.id]">
                        <img [src]="user.avatar" width="120">
                        <div class="content-story-info">
                            <div class="content-story-box">
                                <span class="content-story-box-name"><img width="25" height="25" [src]="user.avatar"> {{ user.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>