<div class="row">
    <h3 class="titleComponent">Personas que quizás te interesen</h3>
    <div class="col-md-12">

        <div *ngIf="RandomPeopleLoading">
            <ngx-skeleton-loader count="9" animation="pulse" [theme]="{'border-radius': '5px',height: '180px',width: '120px','margin-right': '3px','background-color': '#31343e'}"></ngx-skeleton-loader>
        </div>

    </div>

    <div class="col-md-12">
        <div *ngIf="RandomPeopleLoading == false">
            <carousel [cellWidth]="120" [height]="180" [borderRadius]="5">
                <div class="carousel-cell" *ngFor="let item of images">
                    <a [routerLink]="['/profile', item.id]" class="content-story">
                        <img [src]="item.path" draggable="false" style="object-fit: cover;border-radius:5px;">
                        <div class="content-story-info ">
                            <img class="content-story-image" width="25 " height="25 " [src]="item.path | noimage:0 " draggable="false ">
                            <div class="content-story-box ">
                                <span class="content-story-box-name d-inline-block text-truncate" style="max-width: 95px;">{{ item.name }}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </carousel>
        </div>

    </div>