<div class="row">
    <h3 class="titleComponent">Personas que quizás te interesen</h3>
    <div class="col-md-12">

        <div *ngIf="RandomPeopleLoading">
            <ngx-skeleton-loader count="9" animation="pulse" [theme]="{'border-radius': '5px',height: '180px',width: '120px','margin-right': '3px','background-color': '#31343e'}"></ngx-skeleton-loader>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="grid-story" *ngIf="RandomPeopleLoading == false">
                <div class="story" *ngFor="let user of RandomPeople">
                    <div class="mx-auto content-story" [routerLink]="['/profile', user.id]">
                        <div class="image-cover" [style.backgroundImage]="'url('+ user.avatar +')'"></div>
                        <div class="content-story-info">
                            <div class="content-story-box">
                                <span class="content-story-box-name"><img width="25" height="25" [src]="user.avatar | noimage:0"> {{ user.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>