.content-story-info {
    color: #fff;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #000 0, rgba(0, 0, 0, 0) 300px);
    height: 100%;
    width: 120px;
    border-radius: 5px;
}

.content-story-box {
    position: absolute;
    bottom: 11px;
    left: 12px;
}

span.content-story-box-name {
    font-size: 16px;
    font-family: Averange;
    word-break: break-word;
    position: relative;
    top: 9px;
    max-width: 95px;
}

.content-story-image {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 3px;
    width: 35px !important;
    height: 35px !important;
    border: 2px solid #ffffff42;
    position: relative !important;
    top: 7px;
    left: 8px;
}

.image-cover {
    width: 120px;
    height: 180px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}