<h3 class="titleComponent" style="margin-left: 0;">Tema <span title="Feature Release Label: Beta" class="Label Label--outline-green Label--inline mr-1 px-1">Beta</span></h3>

<p class="p-mini">Elige tu cómo se ve Amiwos. Establezca su preferencia de tema para seguir la configuración de su sistema, o elija usar el tema claro u oscuro.</p>

<div class="d-flex flex-column flex-lg-row">
    <div class="position-relative flex-auto mr-0 mr-lg-4 mb-4 mb-lg-0 flex-shrink-0">
        <input class="position-absolute" id="option-auto" type="radio" name="color_mode" value="auto" style="position:absolute;z-index:5;bottom:20px;left:12px;" data-throttled-autosubmit="">
        <label class="radio-label pl-0 pr-0 pt-0 pb-2 overflow-hidden hx_theme-toggle width-full" for="option-auto">
          <img alt="Auto color mode graphic" class="d-block border-bottom mb-2 width-full" src="assets/img/color_mode_auto.svg" draggable="false">
          <span class="ml-5">Por defecto del sistema</span>
        </label>
    </div>
    <div class="position-relative flex-auto mr-0 mr-lg-4 mb-4 mb-lg-0 flex-shrink-0">
        <input class="position-absolute" id="option-light" type="radio" name="color_mode" value="light" style="position:absolute;z-index:5;bottom:20px;left:12px;" data-throttled-autosubmit="">
        <label class="radio-label pl-0 pr-0 pt-0 pb-2 overflow-hidden hx_theme-toggle width-full" for="option-light">
          <img alt="Light color mode graphic" class="d-block border-bottom mb-2 width-full" src="assets/img/color_mode_light.svg" draggable="false">
          <span class="ml-5">Claro</span>
        </label>
    </div>
    <div class="position-relative flex-auto flex-shrink-0">
        <input class="position-absolute" id="option-dark" type="radio" name="color_mode" value="dark" checked="" style="position:absolute;z-index:5;bottom:20px;left:12px;" data-throttled-autosubmit="">
        <label class="radio-label pl-0 pr-0 pt-0 pb-2 overflow-hidden hx_theme-toggle width-full" for="option-dark">
          <img alt="Dark color mode graphic" class="d-block border-bottom mb-2 width-full" src="assets/img/color_mode_dark.svg" draggable="false">
          <span class="ml-5">Oscuro</span>
        </label>
    </div>
</div>