<div class="people-search animated fadeOut">
    <div class="row justify-content-center align-items-center minh-100">
        <div class="col-md-12">

            <div class="mx-auto content-story">
                <img src="https://images.unsplash.com/photo-1605463457051-4837eb3f48cd?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80" width="100%">
                <div class="content-story-info">
                    <div class="content-story-box">
                        <span class="content-story-box-name">Pablo Velasco</span>
                        <div class="content-story-box-ranged"><i class="fas fa-people-arrows"></i> 184 kilómetros de tí</div>
                        <div class="content-story-box-country mt-2"><i class="fas fa-globe-europe"></i> Granada</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>