@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap);
body {
    background-color: rgb(26, 29, 41) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: rgb(249, 249, 249) !important;
    outline: none;
}

@font-face {
    font-family: Amiwos;
    src: url('assets/fonts/Havertize.otf');
}

@font-face {
    font-family: Averange;
    src: url('assets/fonts/Metropolis-Regular.otf');
}

.logo {
    font-family: Amiwos;
    font-size: 40px;
}

button {
    outline: none;
}

p,
button,
label,
.btn,
.alert {
    font-family: Averange;
}

img {
    outline: none;
}

footer {
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0;
    margin-bottom: 15px;
}

footer .links a {
    cursor: pointer;
    padding: 8px 12px;
    text-decoration: none;
    display: inline-block;
}

footer .links {
    margin-bottom: 6px;
}

footer .fine {
    font-size: 12px;
    text-align: center;
}

.secondary {
    color: hsla(0, 0%, 75.3%, .8);
}

footer .links a:hover {
    color: inherit;
}

.logo-footer {
    font-family: Amiwos;
    text-align: center;
    font-size: 19px;
    color: #969696;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-top: 2px solid #07d;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
}

.input-es {
    backdrop-filter: blur(50px);
    background-color: rgb(49, 52, 62);
    border: 1px solid transparent;
    border-radius: 4px;
    caret-color: rgb(2, 231, 245);
    color: rgb(249, 249, 249);
    font-size: 15px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 48px;
    letter-spacing: normal;
    line-height: 1.53;
    margin: 0px;
    outline: none;
    padding: 7px 12px;
    transition: all 0.1s ease 0s;
    width: 100%;
}

.input-es:focus,
.inut-es:active {
    outline: none;
    border: 1px solid rgba(249, 249, 249, 0.3);
}

.is-invalid {
    border: 1px solid rgb(255, 85, 76) !important;
}

.card {
    border: 0 !important;
    transition: transform 0.2s ease-in-out;
}


/*!
*
*         This bundle was built at Mon, 16 Nov 2020 16:05:31 GMT / UTC Time.
*         Version: 530c840f848569f77ff3abc69fb70f065e71649d_1605537530042
*
*/

* {
    box-sizing: border-box
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body,
html {
    height: 100%;
    width: 100%
}

body {
    box-sizing: border-box;
    font-family: Avenir-Roman, sans-serif
}

.js-focus-visible :focus:not(.focus-visible),
.js-focus-visible :focus:not([data-focus-visible-added]) {
    outline: none
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

@font-face {
    font-family: Avenir-Heavy;
    src: url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Heavy-05.woff) format("woff"), url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Heavy-05.ttf) format("truetype");
    font-weight: 800
}

@font-face {
    font-family: Avenir-Black;
    src: url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Black-03.woff) format("woff"), url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Black-03.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: Avenir-Book;
    src: url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Book-01.woff) format("woff"), url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Book-01.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: Avenir-Light;
    src: url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Light-07.woff) format("woff"), url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Light-07.ttf) format("truetype");
    font-weight: 300
}

@font-face {
    font-family: Avenir-Medium;
    src: url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Medium-09.woff) format("woff"), url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Medium-09.ttf) format("truetype");
    font-weight: 400
}

@font-face {
    font-family: Avenir-Roman;
    src: url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Roman-12.woff) format("woff"), url(https://prod-static.disney-plus.net/eu-west-1/builds/530c840f848569f77ff3abc69fb70f065e71649d_1605537530042/fonts/Avenir-Roman-12.ttf) format("truetype");
    font-weight: 400
}

.welcome-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-color: #040714;
    color: #fff;
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0
}

@media screen and (min-width:768px) {
    .welcome-page {
        padding: 0 3vw;
        align-items: flex-end
    }
}

@media screen and (min-width:1024px) {
    .welcome-page {
        padding: 0 4.3vw;
        justify-content: left;
        align-items: center;
        height: 750px;
        min-height: 100vh
    }
}

@media screen and (min-width:1440px) {
    .welcome-page {
        padding: 0 6vw
    }
}

.welcome-page__content {
    text-align: center;
    width: 100%;
    margin: 50vw auto 0
}

@media screen and (min-width:375px) {
    .welcome-page__content {
        margin: 46vw auto 32px
    }
}

@media screen and (min-width:480px) {
    .welcome-page__content {
        margin: 48vw auto 32px
    }
}

@media screen and (min-width:1024px) {
    .welcome-page__content {
        margin: 75px auto 135px;
        text-align: left
    }
}

.welcome-page__content__logo {
    transition: width .2s ease;
    margin: auto;
    width: 100%
}

.welcome-page__content__heading {
    font-family: Avenir-Heavy, sans-serif;
    font-size: 24px;
    line-height: 1.19;
    color: #fff;
    transition: all .2s ease;
    margin: auto;
    max-width: 95%;
    width: 100%
}

.welcome-page__content__button {
    -webkit-animation: first 3s ease 0s 1 normal forwards;
    animation: first 3s ease 0s 1 normal forwards
}

.welcome-page__content__subheading {
    -webkit-animation: second 3s ease 0s 1 normal forwards;
    animation: second 3s ease 0s 1 normal forwards;
    color: hsla(0, 0%, 97.6%, .6);
    font-size: 20px;
    font-family: Avenir-Roman;
    line-height: 1.6;
    font-weight: 400;
    margin: auto
}

.welcome-page__content__subheading span {
    width: 100%
}

.welcome-page__content__subheading span span {
    white-space: normal!important
}

.welcome-page__content__brands {
    -webkit-animation: third 3s ease 0s 1 normal forwards;
    animation: third 3s ease 0s 1 normal forwards;
    width: 100%;
    margin: 32px auto 100px
}

.welcome-page__content__brands img {
    width: 100%
}

@media screen and (min-width:480px) {
    .welcome-page__content__heading {
        font-size: 32px
    }
    .welcome-page__content__brands {
        margin: 40px auto 115px
    }
}

@media screen and (min-width:766px) {
    .welcome-page__content__heading {
        font-size: 44px
    }
    .welcome-page__content__brands {
        margin: 50px auto 125px
    }
}

@media screen and (min-width:1024px) {
    .welcome-page__content__logo {
        margin: auto 0
    }
    .welcome-page__content__heading {
        font-size: 32px;
        margin: 16px 0
    }
    .welcome-page__content__brands {
        margin: 60px 0 0
    }
}

@media screen and (min-width:1440px) {
    .welcome-page__content__heading {
        font-size: 44px
    }
}

.welcome-page #hint {
    position: absolute;
    bottom: 3vh;
    right: 0;
    left: 0;
    cursor: pointer
}

.welcome-page #hint a {
    padding-top: 10px;
    color: hsla(0, 0%, 100%, .65);
    text-decoration: none;
    font-size: 10px;
    letter-spacing: 2.5px;
    transition: transform .2s ease
}

.welcome-page #hint a:hover {
    color: #fff
}

.welcome-page #hint a:hover g {
    opacity: 1
}

.welcome-page #hint svg {
    width: 40px;
    display: block;
    margin: 10px auto
}

@media screen and (min-width:1024px) {
    .welcome-page #hint {
        left: 4.3vw
    }
}

@media screen and (min-width:1440px) {
    .welcome-page #hint {
        left: 6vw
    }
}

#below-the-fold {
    position: relative;
    margin: 0
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes first {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    20% {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes first {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    20% {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

@-webkit-keyframes second {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    40% {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes second {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    40% {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@-webkit-keyframes third {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    60% {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes third {
    0% {
        opacity: 0;
        transform: translateY(40px)
    }
    60% {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0)
    }
}

.noAnimations {
    -webkit-animation: none!important;
    animation: none!important
}

body {
    background: #131313;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

@media print {
    body #webAppFooter,
    body #webAppHeader {
        display: none!important
    }
    body .subscriber-agreement {
        border: none!important;
        background: #fff!important;
        color: #000!important;
        font-size: 11pt!important
    }
    body .subscriber-agreement a {
        color: #000!important;
        font-weight: 700!important;
        text-decoration: underline!important
    }
    body .subscriber-agreement a[href^=http]:after {
        content: " <" attr(href) "> "
    }
    body .subscriber-agreement h3 {
        color: #000!important
    }
    body .subscriber-agreement>div:first-child,
    body .subscriber-agreement button {
        display: none!important
    }
    body .subscriber-agreement [data-legal=printable] {
        display: contents;
        overflow: initial;
        color: #000!important
    }
    body .subscriber-agreement [data-agreement=printable],
    body .subscriber-agreement [data-overline=printable] {
        display: none!important
    }
}

h4 {
    cursor: inherit;
    font-size: 20px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    line-height: 1.4;
    margin: 0
}

#select-avatar .slick-slider {
    padding-bottom: 10px
}

.form-container {
    margin: 0 auto;
    max-width: 374px
}

.form-container .form-header {
    font-size: 30px;
    text-align: center
}

.form-container .form-value-prop {
    background-color: #555;
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    margin: 10px auto;
    padding: 10px
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

.lds-ellipsis div:first-child {
    left: 6px;
    -webkit-animation: lds-ellipsis1 .6s infinite;
    animation: lds-ellipsis1 .6s infinite
}

.lds-ellipsis div:nth-child(2) {
    left: 6px
}

.lds-ellipsis div:nth-child(2),
.lds-ellipsis div:nth-child(3) {
    -webkit-animation: lds-ellipsis2 .6s infinite;
    animation: lds-ellipsis2 .6s infinite
}

.lds-ellipsis div:nth-child(3) {
    left: 26px
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    -webkit-animation: lds-ellipsis3 .6s infinite;
    animation: lds-ellipsis3 .6s infinite
}

@-webkit-keyframes lds-ellipsis1 {
    0% {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

@-webkit-keyframes lds-ellipsis3 {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1)
    }
    to {
        transform: scale(0)
    }
}

@-webkit-keyframes lds-ellipsis2 {
    0% {
        transform: translate(0)
    }
    to {
        transform: translate(19px)
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0)
    }
    to {
        transform: translate(19px)
    }
}

.lds-ripple {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 1s cubic-bezier(0, .2, .8, 1) infinite;
    animation: lds-ripple 1s cubic-bezier(0, .2, .8, 1) infinite
}

.lds-ripple div:nth-child(2) {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s
}

@-webkit-keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1
    }
    to {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0
    }
}

@keyframes lds-ripple {
    0% {
        top: 28px;
        left: 28px;
        width: 0;
        height: 0;
        opacity: 1
    }
    to {
        top: -1px;
        left: -1px;
        width: 58px;
        height: 58px;
        opacity: 0
    }
}

.basic-card {
    box-shadow: 0 26px 30px -10px rgba(0, 0, 0, .8);
    display: block;
    position: relative
}

.container {
    padding: 0 0 40px
}

.shelf-controls>button {
    background: transparent;
    border: none;
    display: flex;
    height: calc(100% + 2px);
    justify-content: center;
    padding: 0;
    position: absolute;
    transition: opacity .2s ease;
    width: calc(3.5vw + 24px)
}

.shelf-controls>button svg {
    transition: all .2s ease
}

.shelf-controls>button:focus,
.shelf-controls>button:hover {
    opacity: 1
}

.fade-enter {
    opacity: .01
}

.fade-enter-done {
    opacity: 1;
    transition: opacity .1s ease-out
}

.fade-exit {
    opacity: 1
}

.fade-exit-active {
    opacity: .01;
    transition: opacity .1s ease-out
}

.btm-media-player .btm-media-overlays-container .overlay__state {
    display: none
}

.hudson-container,
.video_view--theater {
    width: 100%;
    position: absolute
}

.video_view--theater {
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: #000
}

.video_view--mini {
    position: absolute;
    top: 30vw;
    height: auto;
    width: 30.2vw;
    box-shadow: 0 4vw 1.5vw -2vw rgba(0, 0, 0, .5)
}

.video_view--hidden {
    visibility: hidden!important
}

#app_body_content {
    -webkit-font-smoothing: antialiased;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    min-height: 100vh
}

#app_body_content:-webkit-full-screen {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%
}

#app_body_content:-ms-fullscreen {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%
}

#app_body_content:fullscreen {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%
}

#app_body_content:-webkit-full-screen .btm-media-client.debug-active-aspect-ratio--border:before,
#app_body_content:-webkit-full-screen .btm-media-client.debug-active-aspect-ratio--fill:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    margin-top: calc(var(--active-aspect-ratio-height)/-2);
    left: 50%;
    margin-left: calc(var(--active-aspect-ratio-width)/-2);
    width: var(--active-aspect-ratio-width);
    height: var(--active-aspect-ratio-height)
}

#app_body_content:-ms-fullscreen .btm-media-client.debug-active-aspect-ratio--border:before,
#app_body_content:-ms-fullscreen .btm-media-client.debug-active-aspect-ratio--fill:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    margin-top: calc(var(--active-aspect-ratio-height)/-2);
    left: 50%;
    margin-left: calc(var(--active-aspect-ratio-width)/-2);
    width: var(--active-aspect-ratio-width);
    height: var(--active-aspect-ratio-height)
}

#app_body_content:fullscreen .btm-media-client.debug-active-aspect-ratio--border:before,
#app_body_content:fullscreen .btm-media-client.debug-active-aspect-ratio--fill:before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    margin-top: calc(var(--active-aspect-ratio-height)/-2);
    left: 50%;
    margin-left: calc(var(--active-aspect-ratio-width)/-2);
    width: var(--active-aspect-ratio-width);
    height: var(--active-aspect-ratio-height)
}

#app_body_content:-webkit-full-screen .btm-media-client.debug-active-aspect-ratio--border:before {
    border: 2px solid red
}

#app_body_content:-ms-fullscreen .btm-media-client.debug-active-aspect-ratio--border:before {
    border: 2px solid red
}

#app_body_content:fullscreen .btm-media-client.debug-active-aspect-ratio--border:before {
    border: 2px solid red
}

#app_body_content:-webkit-full-screen .btm-media-client.debug-active-aspect-ratio--fill:before {
    background: rgba(255, 0, 0, .5)
}

#app_body_content:-ms-fullscreen .btm-media-client.debug-active-aspect-ratio--fill:before {
    background: rgba(255, 0, 0, .5)
}

#app_body_content:fullscreen .btm-media-client.debug-active-aspect-ratio--fill:before {
    background: rgba(255, 0, 0, .5)
}

main {
    display: block;
    flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-grow: 1;
    padding: 0 calc(3.5vw + 24px);
    position: relative;
    min-height: calc(100vh - 250px);
    overflow-x: hidden
}

main.onboarding {
    overflow-x: inherit
}

@media screen and (max-width:359px) {
    main.onboarding {
        padding: 0 16px
    }
}

@media screen and (min-width:360px) and (max-width:479px) {
    main.onboarding {
        padding: 0 20px
    }
}

main.upgrade {
    overflow-x: inherit
}

@media screen and (min-width:360px) and (max-width:479px) {
    main.upgrade.upgrade {
        padding: 0 20px
    }
}

main.account_settings {
    overflow-x: inherit
}

@media screen and (max-width:359px) {
    main.account_settings {
        padding: 0 16px
    }
}

@media screen and (max-width:479px) {
    main.account_settings.account_settings {
        top: -62px!important;
        padding: 0 20px
    }
}

main.remove-main-padding {
    padding: 0
}

main.get-app {
    padding: 0;
    min-height: calc(100vh - 425px)
}

main.no-top {
    top: 0!important;
    margin-bottom: -100px;
    padding-top: 72px;
    overflow-y: hidden
}

@media screen and (min-width:766px) {
    main {
        justify-content: left
    }
}

.ssrWrapper {
    min-height: calc(100vh - 150px)
}

@media screen and (max-width:479px) {
    #webAppHeader.account_settings {
        display: none
    }
}

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 25px;
    height: 25px;
    & .path {
        stroke: hsl(210, 70, 75);
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

.avatar {
    display: block;
    cursor: pointer;
    position: relative;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -webkit-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -moz-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -ms-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
    -o-transition: all 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.avatar:hover {
    transform: scale(1.05, 1.05);
}

.avatar:hover::after {
    border: 2px solid rgba(249, 249, 249, 0.8);
}

.avatar::after {
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0);
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: border 250ms cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.site-header::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: " ";
    background: linear-gradient(to bottom, #000 0, rgba(0, 0, 0, 0) 150px);
}

.animated {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.minh-100 {
    height: 100vh;
}

.titleComponent {
    margin-left: 7px;
    margin-bottom: 25px;
    position: relative;
}

.titleComponent::before {
    position: absolute;
    content: " ";
    width: 30%;
    height: 4px;
    background: #03A9F4;
    border-radius: 3px;
    bottom: -10px;
}

[tooltip] {
    position: relative;
    /* opinion 1 */
}


/* Applies to all tooltips */

[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */
    /* most of the rest of this is opinion */
    font-family: Averange;
    text-align: center;
    text-transform: uppercase;
    /*
Let the content set the size of the tooltips
but this will also keep them from being obnoxious
*/
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}


/* Make the tooltips respond to hover */

[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}


/* don't show empty tooltips */

[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}


/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}


/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #31343e;
    margin-top: 6px;
    line-height: 14px;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
    margin-top: 6px;
    padding-top: 8px;
    padding-bottom: 7px;
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}


/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #31343e;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}


/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}


/* KEYFRAMES */

@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}


/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}

.alert-danger {
    background-color: #310707 !important;
    border-color: #440b0b !important;
    color: #a7434c !important;
}

.cropper::after {
    border: 0 !important;
}

.info-icon {
    z-index: 9;
    font-size: 0;
    border-radius: 100%;
    border: 1px solid transparent !important;
    position: relative;
}

.button {
    font-family: Roboto, sans-serif;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    outline: none !important;
}

.info-icon:hover .info-tip {
    z-index: 10;
    opacity: 1;
    visibility: visible;
}

.info-tip {
    transition: .3s;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    top: -60px;
    left: 0;
    min-width: 284px;
    position: absolute;
    background: #313540;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 13px 10px;
    font-size: 12px;
    line-height: 14px;
    color: #9b99ad !important;
    cursor: default;
    outline: none;
}

.info-tip strong {
    color: #fda018;
    font-weight: 700;
}

.overly {
    width: 100% !important;
    height: 100% !important;
    margin-left: 0 !important;
    background: #000 !important;
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
}

.toast-container .ngx-toastr {
    box-shadow: none !important;
    font-family: 'Roboto', sans-serif;
    background-image: none !important;
    padding: 10px 15px 5px 15px !important;
    width: 400px !important;
    margin-top: 15px !important;
}

.toast-success {
    background-color: #607d8b !important;
}

.toast-success::before {
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f00c";
    font-weight: 900;
    padding-right: 10px;
}

.toast-error::before {
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f071";
    font-weight: 900;
    padding-right: 10px;
}

.toast-warning::before {
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f12a";
    font-weight: 900;
    padding-right: 10px;
}

.toast-info::before {
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    content: "\f129";
    font-weight: 900;
    padding-right: 10px;
}

button.toast-close-button {
    visibility: hidden;
}

.toast-message {
    display: inline-block;
    width: 330px;
    margin-left: 28px;
}