<div class="row mt-4">
    <h3 class="titleComponent">Publicaciones recientes</h3>
    <div class="col-md-12">
        <div class="text-center">
            <svg *ngIf="PostLoading" class="spinner" viewBox="0 0 50 50">
              <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle>
            </svg>
        </div>
    </div>

    <div class="col-md-8" *ngIf="PostLoading == false">
        <div class="posts" *ngFor="let item of Post">
            <div class="postBy">
                <img [src]="item.image" width="20" height="20">
                <p>{{ item.description }}</p>
            </div>
            <div class="postContent">
                <img [src]="item.image" class="img-fluid" draggable="false">
                <div class="postDescription pt-3 pl-3 pr-3">
                    <p>{{ item.description }}</p>
                    <p>
                        <i class="fas fa-heart"></i>
                        <i class="fas fa-comment pl-3"></i>
                        <i class="fas fa-map-marker-alt pl-3 pr-1"></i> {{ item.category }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <app-plan></app-plan>
    </div>
</div>
