<div class="row mt-4">
    <h3 class="titleComponent">Publicaciones recientes</h3>
    <div class="col-md-12">
        <div class="text-center">

        </div>
    </div>

    <div class="col-md-8">
        <div *ngIf="ErrorDisplay">
            <div class="alert alert-danger" role="alert">
                {{ ErrorDisplayText }}
            </div>
        </div>
        <div *ngIf="PostLoading">
            <ngx-skeleton-loader count="1" animation="pulse" [theme]="{'border-radius': '5px',height: '500px','background-color': '#31343e'}"></ngx-skeleton-loader>
        </div>
        <div *ngIf="PostLoading == false">
            <div class="posts" *ngFor="let item of Post">
                <div class="postBy">
                    <img [src]="item.user_id | avatar | async | noimage:0" class="img-responsive center-block" width="20" height="20" draggable="false">
                    <p>{{ item.user_id | username | async }}</p>
                </div>
                <div class="postContent">
                    <div *ngIf="item.image !== ''" class="cover-image" [style.backgroundImage]="'url('+ item.image +')'"></div>
                    <div class="postDescription pt-3 pl-3 pr-3">
                        <p>{{ item.description }}</p>
                        <p>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-comment pl-3"></i>
                            <i class="fas fa-map-marker-alt pl-3 pr-1"></i> {{ item.category }}
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4">
        <app-plan></app-plan>
    </div>
</div>