<footer>
    <div class="logo">
        <h1 class="logo-footer">amiwos</h1>
    </div>
    <p class="links fine">
        <a class="secondary">Términos y condiciones</a>
        <a class="secondary">Política de privacidad</a>
        <a class="secondary">Política de cookies</a>
        <a class="secondary">Acuerdo de suscripción</a>
        <a class="secondary">Ayuda</a>
        <a class="secondary">¿Quiénes somos?</a>
    </p>
    <p class="secondary fine">© Amiwos. Todos los derechos reservados.</p>
</footer>
